/* BASE LAYOUT FLEXBOX */

:root {
	--body-background: #faf8f5;
	--article-background: #d08240;
	--article-background-secondary: #ffffff;
	--footer-lip: #996539;

	--button-background: #f19648;
	--button-background-lighter: rgba(241, 150, 72, 0.90);
	--button-background-lightest: rgba(241, 150, 72, 0.75);
	--button-background-hover: #a96a35;
	--button-border: #707070;
	--button-text: #ffffff;
	--button-text-hover: #CBB298;

	--common-text: #494949;
	--common-text-hover: #; /* Not entirely useless, could be good for quoted material */

	--anchor: #0e06ff;
	--anchor-hover: #0a03d7;

	--nav-text: #d08240;
	--nav-text-current: #CBB298;
	--nav-text-hover: #CBB298;
}

body {
	background-color: var(--body-background);
	color: var(--common-text);
}

a {
	color: var(--anchor);
	text-decoration: none;

	&:hover {
		color: var(--anchor-hover);
	}
}
