/* BUTTONS */

.btn-primary {
	border-radius: 25px;
	padding: 8px 18px;
	color: var(--button-text);
	text-decoration: none;
	background-color: var(--button-background);
	border: 1px solid var(--button-border);
}

.btn-primary:hover {
	background-color: var(--button-background-hover);
	color: var(--button-text);
}

.btn-secondary {
	display: flex;
	width: 50%;

	> * {
		color: var(--button-text);
		display: flex;
	}

	a,
	.button-extra {
		padding: 10px 0;
		padding-left: 40px;

		span {
			border-left: 1px solid var(--button-border);
			padding: 10px 10px;
		}
	}

	a {
		background-color: var(--button-background);
		width: 60%;
	}

	.button-extra {
		background-color: var(--button-background-lightest);
		width: 40%;
	}

	.button-spacer {
		background-color: var(--button-background-lighter);
		display: inline-block;
		width: 5px;
		padding-right: 10px;
	}
}

.btn-secondary:hover {
	background-color: var(--button-background-hover);

	a {
		opacity: 0.8;
		text-decoration: underline;
	}

	* {
		color: var(--button-text);
	}
}
