/* TYPOGRAPHY */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

body {
	font-family: "Poppins", sans-serif;
}

h1 {
	font-size: 70px;
	font-weight: 600;
	color: #387b5c;
}

h2 {
	font-size: 35px;
	color: #013832;
}

h3 {
	font-size: 40px;
	font-weight: 600;
	color: #387b5c;
}

p {
	font-size: 18px;
	color: #013832;
}

a {
	font-size: 18px;
	text-decoration: none;
	color: #fffdf6;
}

a#language {
	color: #d1a246;
}

p a {
	color: #013832;
	text-decoration: underline;
	text-decoration-color: #d1a246;
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;
}

ul {
	margin-bottom: 50px;
}

ul li {
	color: #013832;
	font-size: 18px;
}

ul li::marker {
	color: #d1a246;
}
