main {
	margin: 10vh 70px;

	background-image:
        url("./assets/about-us-background.png"),
		url("./assets/line-illustration.png"),
		url("./assets/house-illustration.png"),
		url("./assets/heart-illustration.png"),
        url("./assets/squirrels.png");
	background-repeat: no-repeat;
	background-position-x: 0%, 100%, 50%, 75%, 70%;
	background-position-y: 15%, 0%, 84%, 100%, 100%;

	section {
		width: fit-content;
	}

	> :nth-child(2) {
		margin-left: auto;
		margin-top: 450px;
	}

    > :nth-child(3) {
        margin-top: -150px;
    }

	p {
		width: 353pt;
	}
}
