/*buttpn*/
.btn {
	margin-left: 50px;
	font-family: "Avenir Next", sans-serif;
	color: black;
	text-decoration: none;
	font-weight: bold;
	background-color: white;
	border: 2px solid #84816b;
	padding: 15px 80px;
}

.btn:hover,
.btn:active {
	background-color: gray;
}

/*header*/

.headerJ {
	margin-left: 150px;
	margin-top: 25px;
}

.Flex {
	display: flex;
}

.ComputerEnBloem {
	flex: 1;
}

.CB {
	width: 600px;
}

.text {
	flex: 1;
}

.Assistent {
	margin-top: 140px;
	margin-bottom: 40px;
}

.Kook {
	margin-top: 30px;
	margin-bottom: 200px;
}

.Logistiek {
	margin-top: 40px;
	margin-bottom: 40px;
}

.knop1 {
	position: absolute;
	top: 45%;
	left: 30%;
}

.knop2 {
	position: absolute;
	top: 52%;
	left: 30%;
}

.knop3 {
	position: absolute;
	top: 59%;
	left: 30%;
}

.knop4 {
	position: absolute;
	top: 66%;
	left: 30%;
}

.pijl1 {
	position: absolute;
	bottom: 30%;
	left: 25%;
}

.pijl2 {
	position: absolute;
	bottom: 51%;
	left: 25%;
}

.pijl3 {
	position: absolute;
	bottom: 37%;
	left: 25%;
}

.pijl4 {
	position: absolute;
	bottom: 44%;
	left: 25%;
}

.margesFooter {
	margin-bottom: 50px;
}

/*Maatschappelijk assistente*/

.headerM {
	margin-left: 150px;
	margin-right: 150px;
}

.maatschappelijkAssisstent {
	text-align: center;
}

.TaakomschrijvingFlex {
	display: flex;
}

.TaakomschrijvingText {
	flex: 1;
}

.TaakomschrijvingImage {
	flex: 1;
	justify-content: left;
}

.schilderij {
	width: 400px;
	margin-left: 250px;
}

.ProfielFlex {
	display: flex;
}

.ProfielText {
	flex: 1;
	margin-left: 75px;
	margin-top: 50px;
}

.ProfielImage {
	flex: 1;
}

.plant {
	width: 500px;
	margin-left: 100px;
	margin-top: -100px;
}

.AanbodFlex {
	display: flex;
	margin-bottom: 100px;
}

.AanbodText {
	flex: 1;
	margin-top: -100px;
}

.AanbodImage {
	flex: 1;
}

/*Administratief medewerker*/

.headerA {
	margin-left: 150px;
	margin-right: 150px;
}

.administratiefMedewerker {
	text-align: center;
}

.TaakomschrijvingFlexA {
	display: flex;
	margin-bottom: 150px;
}

.TaakomschrijvingTextA {
	flex: 50%;
}

.TaakomschrijvingImageA {
	flex: 50%;
}

.lijn2 {
	position: absolute;
	right: 0%;
	top: 10.7%;
}

.ProfielFlexA {
	display: flex;
	margin-bottom: 100px;
}

.ProfielTextA {
	flex: 1;
}

.ProfielImageA {
	flex: 1;
}

.RoseBloem {
	width: 500px;
	position: absolute;
	left: 15%;
	top: 40%;
}

.AanbodFlexA {
	display: flex;
	margin-bottom: 100px;
}

.AanbodImageA {
	flex: 1;
}

.AanbodTextA {
	flex: 1;
}

.smiley {
	width: 100px;
	position: absolute;
	top: 100%;
	left: 42%;
}

/*kookvrijwilliger*/

.headerK {
	margin-left: 200px;
	margin-right: 100px;
}

.kookVrijwilliger {
	text-align: center;
}

.TaakomschrijvingFlexK {
	display: flex;
}

.TaakomschrijvingImageK {
	flex: 1;
	margin-top: -100px;
	margin-left: 100px;
}

.TaakomschrijvingTextK {
	flex: 1;
}

.ProfielTextK {
	margin-top: -80px;
	margin-left: 75px;
	margin-bottom: 100px;
}

.AanbodFlexK {
	display: flex;
	margin-bottom: 100px;
}

.AanbodImageK {
	flex: 1;
	margin-top: -50px;
}

.AanbodTextK {
	flex: 1;
}

/*logistiek vrijwilliger*/

.headerL {
	margin-left: 200px;
	margin-right: 100px;
}

.logistiekVrijwilliger {
	text-align: center;
}

.TaakomschrijvingFlexL {
	display: flex;
	margin-bottom: 50px;
}

.TaakomschrijvingImageL {
	flex: 1;
	padding-left: 50px;
}

.pen {
	position: absolute;
	right: 25%;
	top: 27%;
}

.TaakomschrijvingTextL {
	flex: 1;
}

.ProfielFlexL {
	display: flex;
}

.ProfielTextL {
	flex: 1;
	margin-top: 100px;
	margin-left: 75px;
}

.ProfielImageL {
	flex: 1;
	width: 500px;
	margin-top: -150px;
}

.AanbodFlexL {
	margin-top: -250px;
	margin-bottom: 150px;
}
