@import url("https://fonts.googleapis.com/css2?family=Avenir+Next:wght@400&display=swap");
/* TYPOGRAPHY */

body {
	margin: 0;
}

h1 {
	font-size: 280px;
	font-family: "Brush Script MT", serif;
	font-style: italic;
}

h2 {
	font-size: 35px;
	font-family: "Brush Script MT", serif;
	font-style: italic;
}

h3 {
	font-size: 25px;
	font-family: "Avenir Next", sans-serif;
	font-weight: medium;
}

h4 {
	font-size: 18px;
	font-family: "Avenir Next", sans-serif;
	font-weight: medium;
}

p {
	font-size: 16px;
	font-family: "Avenir Next", sans-serif;
}

/* BUTTONS */
.btn-primary {
	margin-left: 50px;
	font-family: "Avenir Next", sans-serif;
	color: black;
	text-decoration: none;
	font-weight: bold;
	background-color: white;
	border: 2px solid #84816b;
	padding: 20px 80px;
}

.btn-primary:hover,
.btn-primary:active {
	background-color: gray;
}

/* NAVIGATION */
nav {
	background-color: #97b287;
	padding: 15px 30px 15px;
	display: flex;
	justify-content: space-between;
}

nav img {
	width: 45px;
	height: auto;
}

nav a {
	float: left;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	color: black;
	font-size: 14px;
	font-family: "Avenir Next", sans-serif;
}

nav a.current {
	color: white;
}

.logo a {
	font-size: 20px;
	font-family: "Avenir Next", sans-serif;
}
.navLinks {
	float: right;
	padding: 10px;
}

.navLinks a {
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	color: black;
	font-family: "Avenir Next", sans-serif;
}

.navLinks a:hover {
	color: white;
}

.logo {
	display: flex;
	align-items: center;
}

#taal {
	color: white;
}

#taal:hover {
	color: black;
}

/*FOOTER*/

footer {
	background-color: #97b287;
	display: flex;
	justify-content: space-around;
}

footer h4 {
	margin-bottom: 0;
}

.emailAdres {
	display: flex;
	font-family: "Avenir Next", sans-serif;
	font-size: 18px;
}

#line {
	padding: 50px 0px;
}

.email {
	display: flex;
}

.email img,
.phone img,
.sponsors img {
	object-fit: contain;
	margin-right: 10px;
}

.phone {
	display: flex;
	margin-top: -25px;
}

.contact {
	margin: 30px;
}

.adress {
	margin: 30px;
}

.sponsors {
	display: flex;
}

.sponsors img {
	margin: 20px;
	width: 250px;
}

.contactInfo {
	margin-top: 3px;
}

/*header*/

.note1 {
	max-width: 500px;
	transform: rotate(-5deg);
	position: absolute;
	left: 5%;
	top: 25%;
}

.note2 {
	max-width: 500px;
	position: absolute;
	left: 25%;
	top: 35%;
}

.note3 {
	max-width: 500px;
	position: absolute;
	left: 25%;
	top: 60%;
}

.note4 {
	max-width: 500px;
	position: absolute;
	left: 5%;
	top: 50%;
}

.headerJ {
	display: flex;
	margin-left: 150px;
	margin-top: 25px;
}

.notes {
	flex: 75%;
}

.ComputerEnBloem {
	flex: 25%;
}

.CB {
	width: 600px;
}

.Assistent {
	transform: rotate(-6deg);
	position: absolute;
	left: 9%;
	top: 47%;
}

.Administratief {
	transform: rotate(-2deg);
	position: absolute;
	left: 29%;
	top: 56%;
}

.Kook {
	transform: rotate(-2deg);
	position: absolute;
	left: 9%;
	top: 71%;
}

.Logistiek {
	transform: rotate(-1deg);
	position: absolute;
	left: 34%;
	top: 81%;
}

/*Maatschappelijk assistente*/

.headerM {
	margin-left: 150px;
	margin-right: 150px;
}

.maatschappelijkAssisstent {
	text-align: center;
}

.TaakomschrijvingFlex {
	display: flex;
	margin-bottom: 150px;
}

.TaakomschrijvingText {
	flex: 1;
}

.TaakomschrijvingImage {
	flex: 1;
	justify-content: left;
}

.plant {
	width: 250px;
	position: absolute;
	right: 20%;
}

.ProfielFlex {
	display: flex;
	margin-bottom: 100px;
}

.ProfielText {
	position: absolute;
	right: 20%;
	flex: 1;
}

.ProfielImage {
	flex: 1;
	margin-left: 50px;
}

.schilderij {
	width: 500px;
}

.AanbodFlex {
	display: flex;
	margin-bottom: 100px;
}

.AanbodText {
	flex: 1;
}

.AanbodImage {
	flex: 1;
}
