/*header*/

.headerJ {
	margin-left: 150px;
	margin-top: 25px;
}

.Flex {
	display: flex;
}

.ComputerEnBloem {
	flex: 1;
}

.CB {
	width: 600px;
}

.text {
	flex: 1;
}

.Assistent {
	margin-top: 150px;
	margin-bottom: 30px;
}

.Kook {
	margin-top: 30px;
	margin-bottom: 200px;
}

.Logistiek {
	margin-top: 30px;
	margin-bottom: 30px;
}

.knop1 {
	position: absolute;
	top: 45%;
	left: 30%;
}

.knop2 {
	position: absolute;
	top: 52%;
	left: 30%;
}

.knop3 {
	position: absolute;
	top: 59%;
	left: 30%;
}

.knop4 {
	position: absolute;
	top: 66%;
	left: 30%;
}

.pijl1 {
	position: absolute;
	top: 30%;
	right: 45%;
}

.pijl2 {
	position: absolute;
	bottom: 10%;
	left: 37%;
}

.pijl3 {
	position: absolute;
	bottom: 40%;
	left: 25%;
}

/*Maatschappelijk assistente*/

.headerM {
	margin-left: 150px;
	margin-right: 150px;
}

.maatschappelijkAssisstent {
	text-align: center;
}

.TaakomschrijvingFlex {
	display: flex;
	margin-bottom: 150px;
}

.TaakomschrijvingText {
	flex: 1;
}

.TaakomschrijvingImage {
	flex: 1;
	justify-content: left;
}

.plant {
	width: 250px;
	position: absolute;
	right: 20%;
}

.ProfielFlex {
	display: flex;
	margin-bottom: 100px;
}

.ProfielText {
	position: absolute;
	right: 20%;
	flex: 1;
}

.ProfielImage {
	flex: 1;
	margin-left: 50px;
}

.schilderij {
	width: 500px;
}

.AanbodFlex {
	display: flex;
	margin-bottom: 100px;
}

.AanbodText {
	flex: 1;
}

.AanbodImage {
	flex: 1;
}

/*Administratief medewerker*/

.headerA {
	margin-left: 150px;
	margin-right: 150px;
}

.administratiefMedewerker {
	text-align: center;
}

.TaakomschrijvingFlexA {
	display: flex;
	margin-bottom: 150px;
}

.TaakomschrijvingTextA {
	flex: 50%;
}

.TaakomschrijvingImageA {
	flex: 50%;
}

.lijn2 {
	position: absolute;
	right: 0%;
	top: 10.7%;
}

.ProfielFlexA {
	display: flex;
	margin-bottom: 100px;
}

.ProfielTextA {
	flex: 1;
}

.ProfielImageA {
	flex: 1;
}

.RoseBloem {
	width: 500px;
	position: absolute;
	left: 15%;
	top: 40%;
}

.AanbodFlexA {
	display: flex;
	margin-bottom: 100px;
}

.AanbodImageA {
	flex: 1;
}

.AanbodTextA {
	flex: 1;
}

.smiley {
	width: 100px;
	position: absolute;
	top: 100%;
	left: 42%;
}

/*kookvrijwilliger*/

.headerK {
	margin-left: 200px;
	margin-right: 100px;
}

.kookVrijwilliger {
	text-align: center;
}

.TaakomschrijvingFlexK {
	display: flex;
}

.TaakomschrijvingImageK {
	flex: 1;
	padding-left: 50px;
}

.piano {
	transform: rotate(-55deg);
}

.TaakomschrijvingTextK {
	flex: 1;
}

.ProfielFlexK {
	display: flex;
}

.ProfielImageK {
	flex: 1;
}

.ProfielTextK {
	flex: 1;
}

.lijnK {
	width: 400px;
	position: absolute;
	top: 60%;
}

.AanbodFlexK {
	display: flex;
	margin-bottom: 100px;
}

.AanbodImageK {
	flex: 1;
}

.AanbodTextK {
	flex: 1;
}

.vraagteken {
	position: absolute;
	right: 20%;
}

/*logistiek vrijwilliger*/

.headerL {
	margin-left: 200px;
	margin-right: 100px;
}

.logistiekVrijwilliger {
	text-align: center;
}

.TaakomschrijvingFlexL {
	display: flex;
	margin-bottom: 50px;
}

.TaakomschrijvingImageL {
	flex: 1;
	padding-left: 50px;
}

.ster {
	position: absolute;
	right: 20%;
}

.TaakomschrijvingTextL {
	flex: 1;
}

.ProfielFlexL {
	display: flex;
}

.ProfielTextL {
	flex: 1;
}

.Profielleeg {
	flex: 1;
}

.AanbodFlexL {
	display: flex;
	margin-bottom: 50px;
}

.AanbodImageL {
	flex: 1;
}

.AanbodTextL {
	flex: 1;
}
