@import url("https://fonts.googleapis.com/css2?family=Avenir+Next:wght@400&display=swap");
@font-face {
	font-family: "Brush Script MT";
	font-style: normal;
	font-weight: 400;
	src: local("Brush Script MT"),
		url(https://db.onlinewebfonts.com/t/33bc06ea126d3ff79886277122f1f510.woff2)
			format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF;
}

/* TYPOGRAPHY */

body {
	margin: 0;
}

h1 {
	font-size: 280px;
	font-family: "Brush Script MT", serif;
	font-style: italic;
}

h2 {
	font-size: 35px;
	font-family: "Brush Script MT", serif;
	font-style: italic;
}

h3 {
	font-size: 25px;
	font-family: "Avenir Next", sans-serif;
	font-weight: medium;
}

h4 {
	font-size: 18px;
	font-family: "Avenir Next", sans-serif;
	font-weight: medium;
}

p {
	font-size: 16px;
	font-family: "Avenir Next", sans-serif;
}

/* BUTTONS */
.btn-primary {
	margin-left: 50px;
	font-family: "Avenir Next", sans-serif;
	color: black;
	text-decoration: none;
	font-weight: bold;
	background-color: white;
	border: 2px solid #84816b;
	padding: 20px 80px;
}

.btn-primary:hover,
.btn-primary:active {
	background-color: gray;
}

/* NAVIGATION */
nav {
	background-color: white;
	padding: 15px 30px 15px;
	display: flex;
	justify-content: space-between;
}

nav img {
	width: 45px;
	height: auto;
}

nav a {
	float: left;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	color: black;
	font-size: 14px;
	font-family: "Avenir Next", sans-serif;
}

nav a.current {
	color: #97b287;
}

.logo a {
	font-size: 20px;
	font-family: "Avenir Next", sans-serif;
}
.navLinks {
	float: right;
	padding: 10px;
}

.navLinks a {
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	color: black;
	font-family: "Avenir Next", sans-serif;
}

.navLinks a:hover {
	color: #97b287;
}

.logo {
	display: flex;
	align-items: center;
}

#taal {
	color: #97b287;
}

#taal:hover {
	color: black;
}

/*FOOTER*/

footer {
	background-color: #97b287;
	display: flex;
	justify-content: space-around;
}

footer h4 {
	margin-bottom: 0;
}

.emailAdres {
	display: flex;
	font-family: "Avenir Next", sans-serif;
	font-size: 18px;
}

#line {
	padding: 50px 0px;
}

.email {
	display: flex;
}

.email img,
.phone img,
.sponsors img {
	object-fit: contain;
	margin-right: 10px;
}

.phone {
	display: flex;
	margin-top: -25px;
}

.contact {
	margin: 30px;
}

.adress {
	margin: 30px;
}

.sponsors {
	display: flex;
}

.sponsors img {
	margin: 20px;
	width: 250px;
}

.contactInfo {
	margin-top: 3px;
}
