@import url("https://fonts.googleapis.com/css2?family=Avenir+Next:wght@400&display=swap");
/* TYPOGRAPHY */

body {
	margin: 0;
}

/* BUTTONS */
.btn-primary {
	margin-left: 50px;
	font-family: "Avenir Next", sans-serif;
	color: black;
	text-decoration: none;
	font-weight: bold;
	background-color: white;
	border: 2px solid #84816b;
	padding: 20px 80px;
}

.btn-primary:hover,
.btn-primary:active {
	background-color: gray;
}

/* NAVIGATION */
nav {
	background-color: #d08240;
	padding: 15px 30px 15px;
	display: flex;
	justify-content: space-between;
}

nav img {
	width: 45px;
	height: auto;
}

nav a {
	float: left;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	color: black;
	font-size: 14px;
	font-family: "Avenir Next", sans-serif;
}

.logo a {
	font-size: 20px;
	font-family: "Avenir Next", sans-serif;
}
.navLinks {
	float: right;
	padding: 10px;
}

.navLinks a {
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	color: black;
	font-family: "Avenir Next", sans-serif;
}

.navLinks a:hover {
	color: white;
}

.logo {
	display: flex;
	align-items: center;
}

#taal {
	color: white;
}

#taal:hover {
	color: black;
}

/*FOOTER*/

footer {
	background-color: #d08240;
	display: flex;
	justify-content: space-around;
}

footer h3 {
	color: black;
	font-family: "Avenir Next", sans-serif;
	margin-bottom: 0;
}

.emailAdres {
	display: flex;
	font-family: "Avenir Next", sans-serif;
	font-size: 18px;
}

#line {
	padding: 50px 0px;
}

.email {
	display: flex;
}

.email img,
.phone img,
.sponsors img {
	object-fit: contain;
	margin-right: 10px;
}

.phone {
	display: flex;
	margin-top: -25px;
}

.contact {
	margin: 30px;
}

.adress {
	margin: 30px;
}

.sponsors {
	display: flex;
}

.sponsors img {
	margin: 20px;
	width: 250px;
}

.contactInfo {
	margin-top: 3px;
}
