main {
	display: flex;
	align-items: center;
	justify-content: center;
}

section {
	width: fit-content;
	height: fit-content;
	position: relative;
	background-image: url("./assets/steun-ons-achtergrond.png");
	background-repeat: no-repeat;
	background-position-x: 30%;
	background-position-y: 100%;

	h3 {
		margin-left: 20%;
	}

	p {
		margin-left: 60%;
	}
}
