main {
	display: flex;
	align-content: center;
	justify-content: center;
}

section {
	position: relative;
	width: 100%;
	max-width: 1102px; /* Magic numbers are bad practice, sorry */
	height: fit-content;
	background-image: url("./assets/steun-ons-achtergrond.png");
	background-repeat: no-repeat;
	background-position-x: 10%;
	background-position-y: 100%;

	h3 {
		margin-left: 5%;
	}

	p {
		margin-left: 55%;
	}
}
