main {
	> :nth-child(2) {
		margin-left: auto;
		margin-top: 32%;
	}
}

section {
	position: relative;
	width: calc(100% / 12 * 5 - 8pt);

	h2 {
		white-space: nowrap;
	}

	p {
		transition: opacity 1s ease;
	}

	p.flipped-text {
		opacity: 0;
		width: 150pt;
		margin-top: 13%;
		margin-left: 15%;
		z-index: 2;
	}

	#photo {
		position: absolute;
		left: 120%;
		top: 70%;
		display: flex;
		transform: rotate(-4.73deg);

		* {
			position: absolute;
		}
	}

	#photo:hover {
		#background-tape {
			animation: animateTape 1s;
			animation-fill-mode: forwards;
		}

		#background-photo-frame {
			animation: animateScale 1s;
			animation-fill-mode: forwards;
		}

		p.flipped-text {
			opacity: 1;
			animation: animateScale 1s;
			animation-fill-mode: forwards;
		}

		#background-carpet {
			opacity: 0;
			animation: animateScale 1s;
			animation-fill-mode: forwards;
		}
	}
}

section img {
	position: absolute;
	user-select: none;
	transition: opacity 1s ease;

	&#background-splotch {
		top: 60%;
		left: 40%;
	}

	&#background-cutout {
		left: 10%;
		top: 70%;
		transform: scale(0.5);
	}

	&#background-bike {
		left: 68%;
		top: 60%;
	}

	&#background-photo-frame {
		position: relative;
		box-shadow: 8px 8px 10px;
	}

	&#background-tape {
		transform: scale(0.3) rotate(4.73deg);
		left: -58%;
		top: -77%;
		z-index: 1;
	}

	&#background-carpet {
		margin-top: 9%;
		margin-left: 2%;
		z-index: 2;
	}

	&#single-line {
		left: -93%;
		top: -21%;
		z-index: -1;
		transform: scaleX(-1) rotate(35deg);
	}

	&#house-illustration {
		left: -74%;
		top: 69%;
	}

	&#heart-illustration {
		left: -21%;
    	top: 40%;
	}

	&#squirrels {
		left: 130%;
		top: 33%;
		transform: scale(2);
	}
}

@keyframes animateScale {
	50% {
		transform: scale(1.1);
	}
	to {
		transform: scale(1);
	}
}

@keyframes animateTape {
	50% {
		top: -83%;
		transform: scale(0.35) rotate(4.73deg);
		animation-play-state: paused;
	}
	to {
		transform: scale(0.3) rotate(4.73deg);
	}
}

/* For mobile phones: */
@media screen and (max-width: 426px) {
	main {
		>* {
			margin: 0;
			padding: 0 10pt;
		}
	}
	
	section {
		width: calc(100% - 20pt);
		margin: 0;

		#photo {
			left: 25%;
			top: 20%;
			transform: scale(0.2) rotate(4.73deg);
		}

		#photo:hover {
			#background-tape {
				animation: none;
			}
	
			#background-photo-frame {
				animation: none;
			}
	
			p.flipped-text {
				opacity: 0;
				animation: none;
			}
	
			#background-carpet {
				opacity: 1;
				animation: none;
			}
		}
	}

	section img {
		&#background-splotch {
			display: none;
		}

		&#background-bike {
			left: -7%;
			top: -5%;
			transform: scale(0.2);
			z-index: 4;
		}

		&#background-cutout {
			left: -50%;
			top: 0%;
			transform: scale(0.2);
		}

		&#background-tape {
			transform: scale(0.2) rotate(30deg);
			left: -25%;
			top: -65%;
			z-index: 3;
		}

		&#squirrels {
			display: none;
		}

		&#single-line {
			display: none;
		}

		&#house-illustration {
			display: none;
			transform: scale(0.3);
			left: 90%;
			top: 80%;
		}

		&#heart-illustration {
			display: none;
			transform: scale(0.3);
			left: 80%;
			top: 0%;
		}
	}
}

/* No less than 427px, no greater than 768px */
@media (min-width: 427px) and (max-width: 768px) {
	main {
		> :nth-child(1) {
			width: 60%;
		}

		> :nth-child(2) {
			margin-left: auto;
			margin-top: 32%;
			width: 70%;
		}

		> :nth-child(3) {
			width: 70%;
		}

		>* {
			padding: 0 10pt;
		}
	}

	section {
		width: calc(100% - 20pt);
		
		#photo {
			left: 81%;
			top: -46%;
			transform: scale(0.5) rotate(-4.73deg);
		}

		#photo:hover {
			#background-tape {
				animation: none;
			}
	
			#background-photo-frame {
				animation: none;
			}
	
			p.flipped-text {
				opacity: 0;
				animation: none;
			}
	
			#background-carpet {
				opacity: 1;
				animation: none;
			}
		}
	}

	section img {
		&#background-splotch {
			display: none;
		}

		&#background-bike {
			left: 44%;
			top: -21%;
			transform: scale(0.5);
			z-index: 4;
		}

		&#background-cutout {
			left: 9%;
			top: -13%;
			transform: scale(0.5);
		}

		&#background-tape {
			transform: scale(0.4) rotate(30deg);
			left: -25%;
			top: -65%;
			z-index: 3;
		}

		&#squirrels {
			display: none;
		}

		&#single-line {
			left: -74%;
			top: -111%;
			transform: scale(0.4) scaleX(1) rotate(200deg);
		}

		&#house-illustration {
			transform: scale(0.5);
			left: 69%;
			top: 231%;
		}

		&#heart-illustration {
			transform: scale(0.5);
			left: 63%;
			top: 97%;
		}
	}
}
