main {
	padding: 0 calc(48pt + 70px);
	display: flex;
	align-content: center;
	justify-content: center;
	min-height: 2000px;
}

article {
	position: relative;
	width: 100%;
	max-width: 1012px; /* Magic numbers are bad practice, sorry */
	background-image: url("./assets/about-us-background.png"),
		url("./assets/line-illustration.png"),
		url("./assets/house-illustration.png"),
		url("./assets/heart-illustration.png"), url("./assets/squirrels.png");
	background-repeat: no-repeat;
	background-position-x: 0%, 130%, 65%, 94%, 95%;
	background-position-y: 22%, 9%, 78%, 90%, 90%;

	> :first-child {
		top: 3%;
	}

	> :nth-child(2) {
		left: 60%;
		top: 25%;
	}

	> :last-child {
		top: 15%;
	}
}

section {
	position: relative;
	width: fit-content;

	p {
		width: 353pt;
	}
}
