.M {
	margin-bottom: 10px;
}

.F {
	margin-bottom: 10px;
}

.MapAdres {
	display: flex;
	padding: 0;
	padding-left: 60pt;
}

.map {
	max-width: 100%;
	margin-bottom: 25px;
}

.nummer {
	width: 100%;
}

.adres {
	margin-left: 25px;
	flex: 1;
}

.A {
	margin-bottom: -10px;
}

.T {
	margin-bottom: -10px;
}

.head {
	display: flex;
}

.GSM {
	width: 700px;
	margin-left: 16px;
}

@media screen and (max-width: 1280px) {
	main {
		margin-left: 40pt;
		width: 90%;
	}

	.GSM {
		width: 50%;
	}

	.nummer {
		width: 75%;
	}
}

@media screen and (max-width: 768px) {
	nav {
		display: none;
	}

	main {
		position: relative;
		padding: 0pt;
	}

	.mail {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	main h3 {
		font-size: 14pt;
	}

	main p {
		font-size: 7pt;
	}

	.GSM {
		width: 50%;
		margin-left: 0px;
	}

	.nummer {
		width: 150px;
	}

	.MapAdres {
		display: flex;
		flex-wrap: wrap;
	}

	.adres {
		order: 1;
	}

	.nummer {
		margin-top: 50px;
		order: 2;
	}

	.map {
		order: 3;
		max-width: 250px;
		max-height: 250px;
		padding-right: 25px;
	}

	footer {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}
}

@media screen and (max-width: 426px) {
	body {
		width: 100%;
	}

	main {
		margin-left: 20pt;
	}

	.map {
		width: 75%;
	}
}
