main {
	position: relative;
}

.lijn {
	width: 100%;
}

.lijn_mobile {
	display: none;
}

.eerste {
	position: absolute;
	top: 13%;
	left: 28%;
}

.ontstaan {
	position: absolute;
	top: 18%;
	left: 28%;
}

.tweede {
	position: absolute;
	top: 31%;
	left: 30%;
}

.begeleidingsaanbod {
	position: absolute;
	top: 36%;
	left: 30%;
}

.derde {
	position: absolute;
	top: 32%;
	right: 34%;
}

.werking {
	position: absolute;
	top: 20%;
	right: 18%;
}

.vierde {
	position: absolute;
	top: 36%;
	right: 28%;
}

.centrum {
	position: absolute;
	top: 42%;
	right: 15%;
}

.vijfde {
	position: absolute;
	top: 65%;
	right: 40%;
}

.samenwerking {
	position: absolute;
	top: 70%;
	right: 21.5%;
}

.zesde {
	position: absolute;
	top: 70%;
	right: 73%;
}

.autonomie {
	position: absolute;
	top: 62%;
	left: 20%;
}

.openBoek {
	position: absolute;
	top: 5%;
	right: 10%;
}

.paard {
	position: absolute;
	top: 45%;
	left: 15%;
	width: 25%;
}

h4 {
	font-size: 18px;
}

@media screen and (max-width: 768px) {
	.lijn {
		width: 122%;
		margin-left: -20%;
	}

	.openBoek {
		top: -1%;
		right: 2%;
		width: 40%;
	}

	.paard {
		top: 46%;
		left: 28%;
	}

	.eerste {
		top: 10%;
		left: 13%;
	}

	.ontstaan {
		top: 14%;
		left: 13%;
	}

	.tweede {
		top: 30%;
		left: 15%;
	}

	.begeleidingsaanbod {
		top: 34%;
		left: 15%;
	}

	.derde {
		top: 30%;
		right: 41%;
	}

	.werking {
		top: 15%;
	}

	.vierde {
		top: 31%;
		right: 20%;
	}

	.centrum {
		top: 37%;
		right: 6%;
	}

	.vijfde {
		top: 69%;
		right: 52%;
	}

	.samenwerking {
		top: 74%;
		right: 17.5%;
	}

	.zesde {
		top: 69%;
		right: 83%;
	}

	.autonomie {
		top: 55%;
		left: 10%;
		width: 33%;
	}
}

@media screen and (max-width: 480px) {
	main {
		width: 80%;
	}

	.lijn {
		display: none;
	}

	.lijn_mobile {
		display: block;
		margin-bottom: 50%;
	}

	.openBoek {
		top: 88%;
		right: 50%;
		width: 53%;
	}

	.paard {
		top: 1%;
		left: 64%;
		width: 35%;
	}

	.eerste {
		top: 6%;
		left: 12%;
	}

	.ontstaan {
		top: 10%;
		left: 12%;
	}

	.tweede {
		top: 22%;
		left: 71%;
	}

	.begeleidingsaanbod {
		top: 27%;
		left: 33%;
	}

	.derde {
		top: 36%;
		right: 77%;
	}

	.werking {
		top: 39%;
		right: 30%;
	}

	.vierde {
		top: 49%;
		right: 6%;
	}

	.centrum {
		width: 70%;
		top: 55%;
		right: -3%;
	}

	.centrum h4,
	.centrum p {
		margin: 0;
	}

	.centrum p {
		font-size: 8pt;
	}

	.vijfde {
		top: 63%;
		right: 83%;
	}

	.samenwerking {
		top: 66%;
		right: 13.5%;
	}

	.zesde {
		top: 80%;
		right: 42%;
	}

	.autonomie {
		top: 84%;
		left: 42%;
		width: 60%;
	}
}
