main {
	position: relative;
}

.Historiek {
	margin-left: 300px;
}

.lijn {
	width: 100%;
}

.eerste {
	position: absolute;
	top: 9%;
	left: 28%;
}

.ontstaan {
	position: absolute;
	top: 14%;
	left: 25%;
}

.tweede {
	position: absolute;
	top: 26%;
	left: 33%;
}

.begeleidingsaanbod {
	position: absolute;
	top: 32%;
	left: 28%;
}

.derde {
	position: absolute;
	top: 32%;
	right: 34%;
}

.werking {
	position: absolute;
	top: 22%;
	right: 23%;
}

.vierde {
	position: absolute;
	top: 35%;
	right: 10%;
}

.centrum {
	position: absolute;
	top: 40%;
	right: 10%;
}

.vijfde {
	position: absolute;
	top: 55%;
	right: 40%;
}

.samenwerking {
	position: absolute;
	top: 62%;
	right: 12%;
}

.zesde {
	position: absolute;
	top: 68%;
	right: 60%;
}

.autonomie {
	position: absolute;
	top: 62%;
	left: 15%;
}

.openBoek {
	position: absolute;
	top: 5%;
	right: 10%;
}

.paard {
	position: absolute;
	top: 42%;
	left: 15%;
}
