main {
	position: relative;
}

main {
	> * {
		padding: 0pt;
	}
}

main h2 {
	margin-left: 60pt;
}

.lijn {
	width: 100%;
}

.lijn_mobile {
	display: none;
}

.eerste {
	position: absolute;
	top: 10%;
	left: 12%;
}

.ontstaan {
	position: absolute;
	top: 15%;
	left: 12%;
}

.tweede {
	position: absolute;
	top: 31%;
	left: 16%;
}

.begeleidingsaanbod {
	position: absolute;
	top: 36%;
	left: 16%;
}

.derde {
	position: absolute;
	top: 40%;
	right: 48%;
}

.werking {
	position: absolute;
	top: 27%;
	right: 27%;
}

.vierde {
	position: absolute;
	top: 36%;
	right: 22%;
}

.centrum {
	position: absolute;
	top: 42%;
	right: 3%;
}

.vijfde {
	position: absolute;
	top: 63%;
	right: 31%;
}

.samenwerking {
	position: absolute;
	top: 68%;
	right: 6.5%;
}

.zesde {
	position: absolute;
	top: 78%;
	right: 91%;
}

.autonomie {
	position: absolute;
	top: 69%;
	left: 2%;
}

.openBoek {
	position: absolute;
	top: 5%;
	right: 10%;
}

.paard {
	position: absolute;
	top: 45%;
	left: 0%;
	width: 50%;
}

h4 {
	font-size: 18px;
}

@media screen and (max-width: 1280px) {
	/*TYPO*/
	body p {
		font-size: 10pt;
	}

	body h2 {
		font-size: 22pt;
	}

	body h3 {
		font-size: 16pt;
	}

	body h4 {
		font-size: 10pt;
	}

	/*POSITION*/
	.ontstaan {
		top: 13%;
		left: 12%;
	}

	.begeleidingsaanbod {
		top: 34%;
		left: 16%;
	}

	.werking {
		top: 28%;
		right: 32.5%;
	}

	.vierde {
		top: 30%;
		right: 17%;
	}

	.centrum {
		top: 35%;
		right: 3%;
	}

	.vijfde {
		top: 63%;
		right: 31%;
	}

	.samenwerking {
		top: 66%;
		right: 13.5%;
	}

	.autonomie {
		top: 69%;
		left: 4.5%;
	}
}

@media screen and (max-width: 768px) {
	.lijn {
		width: 100%;
	}

	.openBoek {
		top: -1%;
		right: 2%;
		width: 40%;
	}

	.paard {
		top: 45%;
		left: -4%;
	}

	/*POSITION*/
	.ontstaan {
		top: 13%;
		left: 12%;
	}

	.begeleidingsaanbod {
		top: 34%;
		left: 16%;
	}

	.derde {
		top: 34%;
		right: 51.5%;
	}

	.werking {
		top: 23%;
		right: 28.7%;
	}

	.vierde {
		top: 34%;
		right: 24%;
	}

	.centrum {
		top: 38%;
		right: 3%;
	}

	.vijfde {
		top: 63%;
		right: 38%;
	}

	.zesde {
		top: 80.5%;
		left: 04.5%;
	}

	.samenwerking {
		top: 66%;
		right: 11.5%;
	}

	.autonomie {
		top: 84%;
		left: 4.5%;
	}
}

@media screen and (max-width: 480px) {
	main {
		width: 80%;
	}

	.lijn {
		display: none;
	}

	.lijn_mobile {
		display: block;
		margin-bottom: 50%;
	}

	.openBoek {
		top: 88%;
		right: 50%;
		width: 53%;
	}

	.paard {
		top: 1%;
		left: 64%;
		width: 35%;
	}

	.eerste {
		top: 6%;
		left: 11.5%;
	}

	.ontstaan {
		top: 10%;
		left: 12%;
	}

	.tweede {
		top: 22%;
		left: 34%;
	}

	.begeleidingsaanbod {
		top: 25%;
		left: 34%;
	}

	.derde {
		top: 34%;
		right: 77%;
	}

	.werking {
		top: 37%;
		right: 26%;
	}

	.vierde {
		top: 48%;
		right: 51%;
	}

	.centrum {
		width: 70%;
		top: 52%;
		right: -4%;
	}

	.centrum h4,
	.centrum p {
		margin: 0;
	}

	.centrum p {
		font-size: 8pt;
	}

	.vijfde {
		top: 58%;
		right: 76%;
	}

	.samenwerking {
		top: 61%;
		right: 13.5%;
	}

	.zesde {
		top: 75%;
		right: 42%;
	}

	.autonomie {
		top: 78%;
		left: 4%;
		width: 60%;
	}
}

@media screen and (max-width: 320px) {
	.lijn_mobile {
		object-fit: fill;
		height: 1200px;
		width: 280px;
	}

	.paard {
		left: 74%;
	}

	.openBoek {
		left: 50%;
	}

	.eerste {
		top: 6%;
		left: 11.5%;
	}

	.ontstaan {
		top: 10%;
		left: 12%;
	}

	.tweede {
		top: 23%;
	}

	.derde {
		top: 35%;
	}

	.werking {
		top: 38%;
	}

	.vierde {
		top: 52%;
	}

	.centrum {
		top: 55.5%;
		right: 0%;
	}

	.vijfde {
		top: 62%;
	}

	.samenwerking {
		top: 65%;
	}

	.zesde {
		top: 80%;
		right: 42%;
	}

	.autonomie {
		top: 82%;
		left: 1%;
		width: 60%;
	}
}
