@font-face {
	font-family: "Brush Script MT";
	font-style: normal;
	font-weight: 400;
	src: local("Brush Script MT"),
		url(https://db.onlinewebfonts.com/t/33bc06ea126d3ff79886277122f1f510.woff2)
			format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF;
}

main {
	position: relative;
	padding: 0 48pt;
	min-height: 100vh;
	display: flex;
	align-content: center;
	justify-content: center;

	background-image: url(./assets/about-us-street-cutout.png);
	background-repeat: no-repeat;
	background-size: 145%;
	background-position-x: -320px;
	background-position-y: -400%;
}

section {
	position: relative;
	width: 100%;
	max-width: 1152px; /* Magic numbers are bad practice, sorry */

	p {
		transition: opacity 1s ease;
	}
}

section img {
	position: absolute;
	user-select: none;
	transition: opacity 1s ease;

	&#background-fishes {
		left: 98%;
		top: 41%;
	}

	&#background-splotch {
		left: -25%;
		top: 6%;
	}

	&#background-fishes {
		left: 13%;
		top: 22%;
	}
	&.background-photo-frame {
		position: relative;
		box-shadow: 8px 8px 10px;
	}

	&#background-bike {
		left: 2.5%;
		top: 2%;
	}

	&#background-interior {
		left: 1.5%;
		top: 1.5%;
	}

	&#background-illustration-house {
		left: 66%;
		top: 10%;
	}

	&#background-box-arrow {
		left: 11%;
		top: 35%;
	}

	&#background-plant {
		left: 97%;
		top: 36%;
	}
}

section #title {
	position: relative;
	width: fit-content;
	user-select: none;
	color: #584e18;
	margin-left: 4%;
	margin-top: 63px;

	#title-part-1 {
		font-family: "Avenir Next Ultralight";
		font-size: 103.52pt;
		margin-left: 6%;
		margin-top: 7%;
	}
	
	#title-part-2 {
		position: absolute;
		top: 29%;
		font-family: "Avenir Next Bold";
		font-size: 57.35pt;
		margin-left: 38%;
	}
	
	#title-part-3 {
		display: flex;
		font-family: "Brush Script MT";
		font-size: 199.42pt;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke: 4pt #584e18;
		margin-left: 73%;
		margin-top: -17%;
	
		> *:nth-child(even) {
			top: 20px;
			position: relative;
			padding: 0 5px 0 5px;
		}
	
		> *:not(:nth-child(1)):nth-child(odd) {
			top: -30px;
			position: relative;
			padding: 0 2px 0 2px;
		}
	}
}

section #photo1 {
	position: absolute;
	left: -5%;
	top: 15%;
	display: flex;
	transform: rotate(-4.73deg);
	/* min-width: 228.703px;
	min-height: 323.773px; */

	*:not(.background-photo-frame) {
		position: absolute;
	}

	.background-tape {
		transform: scale(0.2) rotate(-20.73deg);
		left: -129%;
		top: -89%;
		z-index: 1;
	}

	img#background-splotch {
		left: -118%;
		top: -48%;
		transform: rotate(6deg);
	}
}

section #photo2 {
	position: absolute;
	left: 78%;
	top: 11%;
	display: flex;
	transform: rotate(2.73deg);

	*:not(.background-photo-frame) {
		position: absolute;
	}

	.background-tape {
		transform: scale(0.2) rotate(-30deg);
		left: -74%;
		top: -50%;
		z-index: 1;
	}
}

section #photo1:hover {
	.background-tape {
		animation: animateTape1 1s;
		animation-fill-mode: forwards;
	}

	.background-photo-frame {
		animation: animateScale 1s;
		animation-fill-mode: forwards;
	}

	#quote-flipped-left {
		user-select: initial;
		opacity: 1;
		animation: animateScale 1s;
		animation-fill-mode: forwards;
	}

	#background-bike {
		opacity: 0;
		animation: animateScale 1s;
		animation-fill-mode: forwards;
	}
}

section #photo2:hover {
	.background-tape {
		animation: animateTape2 1s;
		animation-fill-mode: forwards;
	}

	.background-photo-frame {
		animation: animateScale 1s;
		animation-fill-mode: forwards;
	}

	#quote-flipped-right {
		user-select: initial;
		opacity: 1;
		animation: animateScale 1s;
		animation-fill-mode: forwards;
	}

	#background-interior {
		opacity: 0;
		animation: animateScale 1s;
		animation-fill-mode: forwards;
	}
}

section .quote {
	&#quote-flipped-left,
	&#quote-flipped-right {
		opacity: 0;
		user-select: none;
		z-index: 1;
	}

	&#quote-flipped-left {
		width: 150pt;
		left: 5%;
		top: 2%;
	}

	&#quote-flipped-right {
		width: 225pt;
		left: 8%;
		top: 3%;
	}

	&#quote-bottom {
		width: 300pt;
		margin-left: 75%;
		margin-top: 77%;
		margin-bottom: 50px;
	}

	span {
		font-family: Arial;
		font-style: normal;
		color: #84a86e;
	}
}

section #home-page-btn {
	position: absolute;
	white-space: nowrap;
	top: 44%;
	left: 43%;
}

.btn-primary {
	margin: 0 0 34px 50px;
}

@keyframes animateScale {
	50% {
		transform: scale(1.1);
	}
	to {
		transform: scale(1);
	}
}

@keyframes animateTape1 {
	50% {
		top: -95%;
		transform: scale(0.25) rotate(-20.73deg);
		animation-play-state: paused;
	}
	to {
		transform: scale(0.2) rotate(-20.73deg);
	}
}

@keyframes animateTape2 {
	50% {
		top: -55%;
		transform: scale(0.25) rotate(-30deg);
		animation-play-state: paused;
	}
	to {
		transform: scale(0.2) rotate(-30deg);
	}
}

/* For mobile phones: */
@media screen and (max-width: 480px) {
	#title-part-1 {
		font-size: 51pt;
		left: -16%;
		top: 3%;
	}

	#title-part-2 {
		font-size: 30pt;
		left: 10%;
		top: 13%;
	}

	#title-part-3 {
		font-size: 63pt;
		left: 49%;
		top: 18%;
	}

	section img.background-splotch {
		width: 100%;
		top: 17%;
		left: -44%;
	}

	section img#home-photo {
		width: 50%;
		top: 36%;
	}

	#home-page-btn {
		left: 26%;
		top: 89%;
	}

	section img#box-arrow {
		left: -10%;
		top: 78%;
		width: 80%;
	}

	section img#illustration-house {
		left: 10%;
		top: 44%;
		width: 15%;
	}

	section img#plant {
		left: 62%;
		top: 56%;
		width: 61%;
	}

	#quote {
		width: 158pt;
		left: -13%;
		top: 50%;
	}

	#title-part-3 > *:not(:nth-child(1)):nth-child(odd) {
		top: -4px;
	}

	#title-part-3 > *:nth-child(even) {
		left: -5%;
	}
}

/* */
@media screen and (max-width: 768px) {
	#title-part-1 {
		font-size: 70pt;
		left: 2%;
		top: 1%;
	}

	#title-part-2 {
		font-size: 40pt;
		left: 17%;
		top: 13%;
	}

	#title-part-3 {
		font-size: 120pt;
		left: 44%;
		top: 13%;
	}

	section img.background-splotch {
		top: 15%;
		left: -18%;
		width: 70%;
	}

	section img#home-photo {
		left: 60%;
		top: 34%;
	}

	#quote {
		width: 227pt;
		left: 6%;
		top: 64%;
	}

	#home-page-btn {
		top: 100%;
		left: 69%;
	}

	section img#box-arrow {
		left: 9%;
		top: 84%;
	}
}

/* For tablets: */
@media only screen and (min-width: 768px) {
}

/* For desktop: */
@media only screen and (min-width: 1200px) {
}