@font-face {
	font-family: "Brush Script MT";
	font-style: normal;
	font-weight: 400;
	src: local("Brush Script MT"),
		url(https://db.onlinewebfonts.com/t/33bc06ea126d3ff79886277122f1f510.woff2)
			format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF;
}

main {
	display: flex;
	align-content: center;
	justify-content: center;
	min-height: 750px;
}

section {
	position: relative;
	width: 100%;
	max-width: 1152px; /* Magic numbers are bad practice, sorry */

	img {
		position: absolute;
		user-select: none;
		transition: opacity 1s ease;
	
		&.background-splotch {
			top: 11%;
			left: -13%;
		}
		
		&#illustration-house {
			left: 79%;
			top: 2%;
		}

		&#home-photo {
			left: 56%;
			top: -3%;
		}
		
		&#squirrels {
			left: 99%;
			top: 29%;
		}

		&#box-arrow {
			left: 49%;
			top: 63%;
		}
		
		&#plant {
			left: 67%;
			top: 37%;
		}
	}
}

#title-part-1 {
	position: absolute;
	user-select: none;
	font-family: "Avenir Next Ultralight";
	font-size: 103.52pt;
	top: 7%;
	left: 18%;
	color: #584e18;
}

#title-part-2 {
	position: absolute;
	user-select: none;
	font-family: "Avenir Next Bold";
	font-size: 57.35pt;
	left: 31%;
	top: 27%;
	color: #584e18;
}

#title-part-3 {
	position: absolute;
	user-select: none;
	font-family: "Brush Script MT";
	font-size: 199.42pt;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 4pt #584e18;
	left: 44%;
	top: 28%;

	> *:nth-child(even) {
		top: 20px;
		position: relative;
		padding: 0 5px 0 5px;
	}

	> *:not(:nth-child(1)):nth-child(odd) {
		top: -30px;
		position: relative;
		padding: 0 2px 0 2px;
	}
}

#quote {
	position: absolute;
	width: 300pt;
	left: 20%;
	top: 77%;

	span {
		font-family: Arial;
		font-style: normal;
		color: #84a86e;
	}
}

p.flipped-text {
	width: 150pt;
	position: absolute;
	left: 8%;
	top: 33%;
	z-index: 1;
	transform: rotate(-5.5deg);
}

#home-page-btn {
	position: absolute;
	white-space: nowrap;
	top: 81%;
	left: 80%;
}

.btn-primary {
	margin: 0 0 34px 50px;
}

.isHovered {
	opacity: 0;
}