.jaarverslagen,
.nieuwsbrieven {
	display: flex;
	justify-content: space-between;
	margin-bottom: 7%;
}

.jaarverslag,
.nieuwsbrief {
	display: flex;
	box-shadow: 4px 5px 32px -25px rgba(0, 0, 0, 0.75);

	padding: 20px;
}

.jaarverslag p,
.nieuwsbrief p {
	padding: 20px;
	margin: 0px 0px 30px 0px;
}

.jaarverslag .btn-primary,
.nieuwsbrief .btn-primary {
	padding-left: 40px;
	padding-right: 40px;
}

.text_download {
	padding-bottom: 30px;
}

.jaarverslag img,
.nieuwsbrief img {
	object-fit: contain;
	width: 80px;
}

main {
	margin-bottom: 5%;
}

@media screen and (max-width: 768px) {
	.jaarverslagen,
	.nieuwsbrieven {
		flex-wrap: wrap;
	}

	.Kayak {
		width: 100%;
	}

	.boeken {
		width: 100%;
	}
}

@media screen and (max-width: 1280px) {
	.jaarverslagen {
		justify-content: space-between;
	}

	.titel {
		margin-left: 0;
	}
}

@media screen and (max-width: 480px) {
	.jaarverslag .btn-primary,
	.nieuwsbrief .btn-primary {
		padding: 4px 8px;
	}

	.main {
		width: 100%;
	}

	main {
		> * {
			padding: 0 10pt;
		}
	}

	.btn-primary {
		font-size: 10pt;
	}
}
