@media screen and (max-width: 768px) {
	.header {
		margin-left: 0px;
		margin-right: 0px;
	}

	.TaakomschrijvingFlex {
		flex-wrap: wrap;
		margin-bottom: 0px;
	}

	.ProfielFlex {
		flex-wrap: wrap;
		margin-bottom: 50px;
	}

	.ProfielText {
		margin-top: 0px;
	}

	.TaakomschrijvingImage {
		margin-left: 0;
	}
	.schilderij {
		margin-left: 0;
		width: 250px;
		margin-top: 0px;
	}
	.plant {
		margin-left: 0;
		width: 250px;
		margin-top: 0px;
	}

	.AanbodFlex {
		flex-wrap: wrap;
	}
}
