@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@500&display=swap");
@font-face {
	font-family: "Avenir Next Regular";
	src: url("./fonts/avenir-next-regular.ttf");
}
@font-face {
	font-family: "Avenir Next Medium";
	src: url("./fonts/avenir-next-medium.ttf");
}
@font-face {
	font-family: "Avenir Next Bold";
	src: url("./fonts/avenir-next-bold.ttf");
}
@font-face {
	font-family: "Avenir Next Ultralight";
	src: url("./fonts/avenir-next-ultralight.ttf");
}
/* The fix:
	https://stackoverflow.com/questions/23754655/css-not-recognizing-avenir-next-as-my-font-family
*/

/* TYPOGRAPHY */

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	font-size: 16pt;
	font-family: "Avenir Next Regular";
}

h1 {
	font-size: 280pt;
	font-family: "Avenir Next Medium";
}

h2 {
	font-size: 40pt;
	font-family: "Avenir Next Ultralight";
	span {
		font-family: "Avenir Next Medium";
	}
}

h3 {
	color: #84a86e;
	font-size: 30pt;
	font-family: "Avenir Next Regular";
	span {
		font-family: "Avenir Next Medium";
	}
}

h4 {
	font-size: 18pt;
	font-family: "Avenir Next Medium";
}

a,
nav span {
	font-size: 16pt;
	font-family: "Avenir Next Medium";
	text-decoration: none;
	color: black;
}

/* BUTTONS */
.btn-primary {
	margin-left: 50px;
	font-family: "Avenir Next Bold";
	color: black;
	text-decoration: none;
	font-weight: bold;
	background-color: white;
	border: 4px solid #97b287;
	padding: 15px 25px;
}

.btn-primary:hover,
.btn-primary:active {
	background-color: #97b287;
}

/* NAVIGATION */
nav#web {
	display: flex;
	z-index: 1000;
}

nav#mobile {
	display: none;
	z-index: 1000;
}

nav {
	background-color: #97b287;
	padding: 15px 30px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	user-select: none;
	white-space: nowrap;
}

nav img {
	width: 45px;
	height: auto;
}

nav a {
	display: flex;
	padding: 0 10px 0 10px;
}

nav #spacer {
	width: 15%;
}

nav span:hover,
nav a.current,
nav .current,
nav a:hover {
	color: white;
}

nav .logo span {
	margin-left: 20px;
	margin-top: auto;
	margin-bottom: auto;
}

nav .nav-dropdown {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&#submenu {
		padding: 0;
	}
}

nav .nav-dropdown img {
	transform: rotate(90deg);
	width: 15px;
	height: 15px;
	user-select: none;
	padding: 0 5px 0 5px;
}

nav #uppermenu.nav-dropdown:hover img#uppermenu,
nav #submenu.nav-dropdown:hover img#submenu {
	transform: rotate(0deg);
}

nav .nav-dropdown .title {
	cursor: pointer;
	padding: 15px;
}

nav ul {
	display: none;
	list-style: none;
	padding: 0;
	margin: 0;
	z-index: 1000;
	white-space: nowrap;
	background-color: #97b287;

	> :nth-child(odd) {
		background-color: #7e9570;
	}

	*:is(a, span) {
		padding: 15px;
	}
}

nav .nav-dropdown ul {
	position: absolute;

	&#uppermenu {
		top: 100%;
		left: 0;
	}

	&#submenu {
		top: 0%;
		left: 100%;
	}
}

nav .nav-dropdown#uppermenu:hover ul#uppermenu,
nav .nav-dropdown#submenu:hover ul#submenu {
	display: block;
}

nav a#icon {
	display: none;
}

#darken-page {
	position: fixed;
	content: "";
	display: none;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1125px) {
	nav#web {
		display: none;
	}

	nav#mobile {
		display: flex;
		position: relative;
	}

	nav#mobile ul {
		position: absolute;
		top: 100%;
		right: 0;
	}

	nav a#icon {
		padding: 20px;
		display: block;
		position: absolute;
		right: 0;
		color: aliceblue;
	}

	.fa.fa-bars {
		font-size: 20pt;
	}
}

/* MAIN */
main {
	width: 100%;
	max-width: 1280px;
	min-height: 60vh;
	margin: 0 0 auto 0;
	justify-self: center;
	align-self: center;

	>* {
		padding: 0 60pt;
	}
}

/*FOOTER*/
footer {
	background-color: #97b287;
	display: flex;
	justify-content: space-around;
}

footer h4 {
	margin-bottom: 0;
}

.emailAdres {
	display: flex;
	font-family: "Avenir Next Regular";
	font-size: 18px;
}

#line {
	padding: 50px 0px;
}

.email {
	display: flex;
}

.email img,
.phone img,
.sponsors img {
	object-fit: contain;
	margin-right: 10px;
}

.phone {
	display: flex;
	margin-top: -25px;
}

.contact {
	margin: 30px;
}

.adress {
	margin: 30px;
}

.sponsors {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.bovenSponsors {
	margin-top: 50px;
	flex: 1;
}

.onderSponsors {
	flex: 1;
}

.sponsors img {
	margin-bottom: 20px;
}

.febi {
	max-width: 120px;
}

.caritas {
	max-width: 120px;
}

.cocom {
	max-width: 235px;
}

.contactInfo {
	margin-top: 3px;
}

.tracé {
	width: 2px;
}

@media screen and (max-width: 768px) {
	/*PADDING*/
	main {
		padding: 0 24pt;
	}

	/*TYPO*/
	body h2 {
		font-size: 22pt;
	}

	body h3 {
		font-size: 16pt;
	}

	body p {
		font-size: 10pt;
	}

	body li {
		font-size: 10pt;
	}

	/*NAV*/
	nav#web {
		display: none;
	}

	nav#mobile {
		display: flex;
		position: relative;
	}

	nav#mobile ul {
		position: absolute;
		top: 100%;
		right: 0;
	}

	nav a#icon {
		padding: 20px;
		display: block;
		position: absolute;
		right: 0;
		color: aliceblue;
	}

	.fa.fa-bars {
		font-size: 20pt;
	}

	/*FOOTER*/

	.sponsors {
		flex-direction: column;
	}

	#line {
		display: none;
	}

	.emailAdres {
		flex-direction: column;
	}

	.contact,
	.adress {
		margin: 0px 30px 0px 30px;
	}

	.sponsors img:last-child {
		padding-left: 20px;
	}
}

@media screen and (max-width: 480px) {
	footer {
		flex-direction: column-reverse;
	}
}
